

.form-header {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 7%;
}


.form-row {
    display: flex;
    gap: 50px;
}

.form-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.appointment-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    margin-bottom: 50px;
}

.appointment-images img:first-child {
    grid-column: 1 / span 2; /* Make the first image take up two columns */
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.appointment-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


@media (max-width: 1440px) {

    .appointment-images {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }

    .appointment-images img {
        object-fit: cover;
    }
}


@media (max-width: 1024px) {


    .appointment-images {
        display: none;
    }

    .form-header {
        margin-left: 3%;
    }

    .form-header h1 {
        font-size: 40px;
    }

    .form-header p {
        font-size: 28px;
    }


    .form-row {
        flex-direction: column; /* Stack date and time inputs vertically */
        gap: 25px; /* Increased gap between stacked inputs */
    }

    .form-row > div {
        width: 100%; /* Ensure date and time inputs take full width */
    }
}

@media (max-width: 480px) {
   
    .short-hero-header h1 {
        font-size: 50px;
    }

   
    .form-header {
        margin-left: 2.5%; /* Adjust margin to match form width */
        margin-right: 2.5%;
    }

    .form-header h1 {
        font-size: 40px;
    }

    .form-header p {
        font-size: 24px; /* Slightly reduce paragraph size for very small screens */
    }

    .appointment-form form {
        margin-top: 20%;
        gap: 5px;
    }

    .appointment-form label {
        font-size: 15px;
    }

    .appointment-form input {
        padding: 5px;
        border-radius: 10px;
    }


}


