.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    position: relative;
}

#coming-soon {
  margin-left: 4%;
  margin-top: 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 4%;
    width: 40%;
    z-index: 2;
}

.hero-content h1 {
  font-size: 80px;
  margin-bottom: 0;
}

.hero-content h2 {
  font-size: 40px;
  margin-top: 10%;
}

.hero-content p {
  font-size: 30px;
}

#service-description {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin-bottom: 100px;
}

#service-description .sticky-note {
  max-width: 20%;
  min-width: 20%;
  padding: 20px;
  color: white;
  line-height: 2;
}

#service-description .sticky-note span {
  display: flex;
  align-items: center;
  gap: 20px;
}

#service-description .sticky-note p {
  font-size: 18px;
}

#service-description .sticky-note h3 {
  font-size: 26px;
  width: 40%;
  line-height: 30px;
}



.hero-content button,
#about-content button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: #292929;
}


.hero-image {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background: linear-gradient(131.9deg, rgba(30, 168, 209, 0) 20.6%, rgba(30, 168, 209, 0.5) 90.87%);
    border-radius: 1400px 0px 0px 0px;
}

.hero-image img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    align-self: flex-end;
    position: relative;
}

.hero-image .sticky-note svg {
  margin-top: 1%;
  width: 20px;
  height: 20px;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}
#about-section {
  padding-left: 4%;
  margin-top: 100px;
  display: flex;
  /* justify-content: flex-start; */
  /* gap: 5%; */
  margin-bottom: 200px;
  height: 100vh;
}

#about-content {
  margin-left: 50px;
  width: 60%;
  align-self: center;
  padding-right: 5%;
}


.about-images {
  width: 40%;
}

.about-images-container {
  display: flex;
  gap: 5%;
  height: 100%;
}

.about-images-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-images-column-center {
  /* height: 80%; */
  justify-content: center;
}

.about-image {
  object-fit: cover;
  height: 49%;
  width: 100%;
  border-radius: 10px;
}


.about-image-large {
  height: 80%;
}


.about-bulletpoints {
  display: flex;
  gap: 20%;
  margin-bottom: 20px;
}

.bulletpoint svg {
  background-color: #1B529E;
  border-radius: 50%;
  padding: 1px;
}

.bulletpoint {
  display: flex;
  gap: 10px;
  align-items: center;
}

#services-section {
  background-color: #E7F1FF;
  padding: 50px 0;
}


.book-appointment-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


#get-in-touch {
  background-color: #04B794;
  padding: 20px 80px;
  display: flex;
  color: white;
  position: relative;
  width: 80%;
  margin: 100px auto -120px;
  border-radius: 50px;
  z-index: 10;
  box-sizing: border-box;
}

#get-in-touch-image {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 120%;
  width: auto;
  object-fit: cover;
}

#get-in-touch-content {
  width: 50%;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

#get-in-touch-content p {
  margin-bottom: 10px;
}

#get-in-touch-content h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  line-height: 70px;
}

#get-in-touch-content span {
  display: flex;
  gap: 20px;
}

#get-in-touch-content button {
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#get-in-touch-content button:hover {
  background-color: white;
  color: #04B794;
}



@media(min-width: 1300px) {
  
  .hero-image .sticky-note:first-of-type {
    margin-top: 50%;
    transform: translateX(-20%); /* Shifts the element 50px to the left */
  }

  .hero-image .sticky-note:last-of-type {
    margin-bottom: 50%;
    transform: translateX(-20%); /* Shifts the element 50px to the left */
  }

}


@media(max-width: 1440px) {

  .hero-content h1 {
    font-size: 70px;
  }
  .hero-content p {
    font-size: 20px;
  }

  .hero-image .sticky-note:first-of-type {
    margin-top: 40%;
  }
  .hero-image .sticky-note:last-of-type {
    margin-bottom: 40%;
  }
  .hero-image .sticky-note p {
    font-size: 14px;
  }
  .hero-image .sticky-note h4 {
    font-size: 16px;
  }

  .hero-image .sticky-note svg {
    padding: 5px;
    /* height: 20px; */
  }
}


/* Tablet styles */
@media (max-width: 1024px) {
  #get-in-touch {
    padding: 20px 40px;
    min-width: 90%;
    max-width: 90%;
  }
  #coming-soon {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #get-in-touch-image {
    display: none;
  }

  #get-in-touch-content {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #get-in-touch {
    padding: 20px 40px;
    min-width: 90%;
    max-width: 90%;
  }

  #get-in-touch-image {
    display: none;
  }

  #get-in-touch-content {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .hero-section {
      flex-direction: column;
  }

    .hero-content {
        width: 80%;
        padding: 20px 4%;
        text-align: center;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 48px; /* Reduced from 80px */
    }

    .hero-content p {
        font-size: 18px; /* Slightly reduced from 20px */
    }

    .hero-image {
      width: 100%;
      height: auto;
      background: none;
      border-radius: 0;
      display: flex;
      flex-direction: row; /* Change to row for sticky notes */
      justify-content: center;
      align-items: flex-start;
      padding: 20px 0;
      gap: 25px;
    }

    .hero-image img {
        display: none; /* Hide the image */
    }

    .hero-image .sticky-note:first-of-type {
      margin-top: 0;
    }
    .hero-image .sticky-note:last-of-type {
      margin-bottom: 0;
    }
    .hero-image .sticky-note {
        position: static;   
        width: 40%;
        padding: 20px;
        height: auto;
        max-width: 200px; /* Limit maximum width */
    }  
    .hero-image .sticky-note p {
      font-size: 12px;
    }
    .hero-image .sticky-note h4 {
      font-size: 16px;
    }
    .hero-image .sticky-note svg {
      height: 20px;
      width: 20px;
    }

    #about-section {
        flex-direction: column;
        height: auto;
        padding: 5%;
        margin-bottom: 0;
        margin-top: 50px;
    }

    #about-section h1, #about-section p {
      text-align: center;
    }

    #about-content {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }

    .about-images-container {
      display: none;
    }
    #service-description {
      flex-wrap: wrap;
      justify-content: center;
    }

    #service-description .sticky-note {
      margin-bottom: 20px;
    }

    #service-description .sticky-note span {
      gap: 10px;
    }
    
    #service-description img {
      width: 20px;
      height: 20px;
    }

    #service-description .sticky-note p {
      font-size: 12px;
    }
    
    #service-description .sticky-note h3 {
      font-size: 20px;
      width: 100%;
      line-height: 1;
    }
    

}

/* Mobile styles */
@media (max-width: 768px) {
  #get-in-touch {
    display: block;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: static;
  }

  #get-in-touch-image {
    display: none;
  }

  #get-in-touch-content {
    width: 100%;
    padding: 0;
  }

  #get-in-touch h1 {
    font-size: 24px;
    line-height: 1.3;
  }

  #get-in-touch-content span {
    flex-direction: column;
    align-items: center;
  }

  #get-in-touch-content button {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }

  #get-in-touch-content p {
    font-size: 16px; /* Further reduced for mobile */
  }

  #get-in-touch-content h1 {
    font-size: 24px;
    line-height: 1.3;
  }

  #get-in-touch-content button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .hero-content h1 {
    font-size: 45px; /* Further reduced for mobile */
  }

  .hero-content p {
    font-size: 16px; /* Further reduced for mobile */
  }

  .hero-image .sticky-note {
    width: 100%;
    height: auto;
    max-width: 200px; /* Limit maximum width */
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px; /* Add space between sticky notes */
  }

  .hero-image {
    flex-direction: column;
    align-items: center;
  }

  .hero-image .sticky-note h4 {
    margin: 0;
    margin-top: 3%;
  }

  .hero-image .sticky-note svg {
    margin-top: 1%;
    width: 20px;
    height: 20px;
  }

  .hero-image .sticky-note p {
    font-size: 12px;
  }

  .hero-content button,
  #about-content button {
    width: 100%;
    max-width: 200px;
  }

  .about-bulletpoints {
    flex-direction: column;
    gap: 10px;
  }

}

/* Small mobile styles */
@media (max-width: 480px) {

  .hero-image .sticky-note h4 {
    font-size: 18px;
  }
  
  .hero-image .sticky-note p {
    font-size: 16px;
  }

  .hero-image .sticky-note svg {
    height: 15px;
    width: 15px;
  }

  .hero-image {
    margin-top: 10%;
    margin-bottom: 5%;
  }


  #get-in-touch {
    padding: 15px;
  }

  #get-in-touch-content p {
    font-size: 12px;
  }

  #get-in-touch-content h1 {
    font-size: 28px;
    line-height: 35px;
  }

  #get-in-touch-content button {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
  
  }

  #service-description .sticky-note,
  #service-description .sticky-note:last-child {
    max-width: 70%;
    min-width: 70%;
  }

  #get-in-touch-content p {
    font-size: 10px;
  }
}
