:root {
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  color: #292929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.book-appointment-button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 16px;
  background-color: #292929;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(100, 108, 255, 0.3);
}

/* component specific styles */

.team-section {
  padding-top: 50px;
}

.doctors-section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  padding: 0 20px;
}

.doctors-carousel {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 20px 0 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* Scrollbar styles for Firefox */
.doctors-carousel::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

.doctors-carousel::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 3px;
  margin: 0 20px; /* Add some space on the sides */
}

.doctors-carousel::-webkit-scrollbar-thumb {
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.doctor-card {
  flex: 0 0 auto;
  width: calc(100% - 40px);
  max-width: 262px;
  text-align: center;
  border-radius: 8px;
  padding: 15px;
  display: inline-block;
  scroll-snap-align: start;
}

.doctor-image {
  width: 100%;
  max-width: 262px;
  height: auto;
  max-height: 262px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-card h3 {
  margin: 0 0 5px;
  font-size: 18px;
}

.doctor-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1024px) {
  .doctors-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: visible;
    white-space: normal;
  }

  .doctor-card {
    width: calc(50% - 20px);
    scroll-snap-align: unset;
  }

  .doctor-image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (max-width: 768px) {

  .doctor-card {
    width: 30%;
  }

  .doctor-image {
    max-width: 150px;
    max-height: 150px;
  }
}

@media (min-width: 768px) {
  .doctors-section {
    padding: 0 40px;
  }

  .doctor-card {
    width: calc(25% - 15px);
  }
  
}
